pytelegrambotapi
opencv-python
pycryptodome
pypiwin32
pyautogui
geocoder
pyinstaller
flaskwebgui
flask
wget
=======
pytelegrambotapi
opencv-python
pycryptodome
pypiwin32
pyautogui
geocoder
pyinstaller
flaskwebgui
flask
wget
