pytelegrambotapi
opencv-python
pycryptodome
pypiwin32
pyautogui
geocoder
pyinstaller
flaskwebgui
flask
wget
pynput
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
