pytelegrambotapi
opencv-python
pycryptodome
pypiwin32
pyautogui
geocoder
pyinstaller
wget
pynput
pygame
pywin32
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
