<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TeleRat Builder</title>
    <link rel=icon type=image/png href=static/icon.ico>
    <link href="{{ url_for('static', filename='Build.css') }}" rel="stylesheet">
</head>
<body>
<div class="login-box">
  <form autocomplete="off" action="/build" method="post">
    <h2>Config</h2>
    <div class="textbox"><i class="far fa-paper-plane"></i><input type="text" name='key' placeholder="BOT key"></div>
    <input type="submit" class="btn" value="Build">
</div>
</body>
<script>
async function getRequest(url='') {
    const response = await fetch(url, {
      method: 'GET',
      cache: 'no-cache'
    })
    return response.json()
}
document.addEventListener('DOMContentLoaded', function() {
let url = document.location
let route = "/flaskwebgui-keep-server-alive"
let interval_request = 3 * 1000
function keep_alive_server(){
    getRequest(url + route)
    .then(data => console.log(data))
}
setInterval(keep_alive_server, interval_request)()
})
</script>
</html>
